[Desktop Entry]
Name=RetroShell
Comment=RetroShell Wayland desktop environment session
Exec=start-retroshell
TryExec=start-retroshell
Type=Application
DesktopNames=RetroShell
Keywords=RetroShell;Wayland;Desktop;
